@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-zinc-800;
  }
  body {
    @apply bg-zinc-950 text-zinc-100;
  }
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  ::-webkit-scrollbar-track {
    @apply bg-zinc-900;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-zinc-700 rounded-full;
  }
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-zinc-600;
  }
}
